<main>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: current_user %>
    </div>
    <div class="mx-auto col-md-8 offset-md-1">
      <body>
        <div class="sakubun">
          <p><%= @blog.title %><br> <%= @blog.body %></p>
        </div>
      </body>
      <% if @blog.favorited_by?(current_user) %>
        <p>
          <td>
            <%= button_to blog_favorites_path(@blog), method: :delete do %>
              <p class="text-danger">
                <i class="fas fa-heart"></i><%= @blog.favorites.count %>
              </p>
            <% end %>
          </td>
        </p>
        <% else %>
        <p>
          <td>
            <%= button_to blog_favorites_path(@blog), method: :post do %>
              <p class="text-primary">
                <i class="fas fa-heart"></i><%= @blog.favorites.count %>
              </p>
            <% end %>
          </td>
        </p>
      <% end %>

    </div>
  </div>
</main>