<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/list', user: @user %>
      </div>
      <div class="col-md-8 offset-md-1">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">ユーザ一覧</h6>
        <% @users.each do |user| %>
          <div class="d-flex text-muted pt-3">
            <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
              <div class="d-flex justify-content-between">
                <%= image_tag user.image.thumb.url %>
                <strong class="text-gray-dark"><%= user.name %></strong>
                <%= link_to 'Show', user_path(user.id) %>
                <span class="d-block"><%= user.email %></span>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>